#mesa {
    -fx-fill: #025906;
}

.pedra {
    /*-fx-effect: dropshadow(gaussian , black , 5 , 0.5 , 2 , 2)*/
}


.pedra Rectangle {
    -fx-fill: #e2e2e2;
    -fx-effect: innershadow(gaussian , lightgray , 10 , 0.5 , 4 , 4);
    
    
}

.linhaDePedra{
    -fx-stroke: black;
    
}

.pontinho{
     -fx-fill: black;
     -fx-effect: innershadow(gaussian, #444 , 3 , 0.5 , 1 , 1)
}
