#mesa {
    -fx-fill: #025906;
}

.pedra {
    -fx-effect: dropshadow(gaussian , black , 10 , 0.5 , 4 , 4)
}


.pedra Rectangle {
    -fx-fill: #e2e2e2;
/*    -fx-arc-height: 55%;
    -fx-arc-width: 55%;*/
    -fx-effect: innershadow(gaussian , darkgrey , 10 , 0.5 , 2 , 2)
    
}

.linhaDePedra{
    -fx-stroke: black;
    
}

.pontinho{
     -fx-fill: black;
     -fx-effect: innershadow(gaussian, #444 , 3 , 0.5 , 1 , 1)
}